<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

<!-- ① 인자 선언: launch나 CLI에서 값을 바꿔 넣을 수 있는 변수 -->
  <xacro:arg name="name"      default="ur5e"/>
  <xacro:arg name="ur_type"   default="ur5e"/>
  <xacro:arg name="tf_prefix" default=""/>

<link name="finger1_link">
  <visual>
    <geometry>
      <box size="0.01 0.01 0.05"/>
    </geometry>
  </visual>
  <collision>
    <geometry>
      <box size="0.01 0.01 0.05"/>
    </geometry>
  </collision>
  <inertial>
    <mass value="0.05"/>
    <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001"/>
  </inertial>
</link>

<link name="finger2_link">
  <visual>
    <geometry>
      <box size="0.01 0.01 0.05"/>
    </geometry>
  </visual>
  <collision>
    <geometry>
      <box size="0.01 0.01 0.05"/>
    </geometry>
  </collision>
  <inertial>
    <mass value="0.05"/>
    <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001"/>
  </inertial>
</link>

<!-- Mimic 방식 적용. Joint는 두 개 다 필요. finger1_joint를 기준으로 
  finger2_joint를 mimic joint로 설정 
  finger2_joint의 axis에서 y축을 반대로 설정하여 y축 값이 커지면 중심 반대로 이동하도록 함
  원점을 그리퍼가 완전히 열린 상태로 지정. 그리퍼 두깨가 0.01이므로 finger1_joint와
   finger2_joint의 limit upper를 0.035로 설정하여 그리퍼가 닫히도록 함
  -->

<joint name="finger1_joint" type="prismatic">
  <parent link="tool0"/>
  <child link="finger1_link"/>
  <origin xyz="0 0.04 0.05" rpy="0 0 0"/>
  <axis xyz="0 -1 0"/>
  <limit lower="0.0" upper="0.035" effort="20" velocity="0.3"/>
</joint>

<joint name="finger2_joint" type="prismatic">
  <parent link="tool0"/>
  <child link="finger2_link"/>
  <origin xyz="0 -0.04 0.05" rpy="0 0 0"/>
  <axis xyz="0 1 0"/>
  <limit lower="0.0" upper="0.035" effort="20" velocity="0.3"/>
  <mimic joint="finger1_joint" multiplier="1.0" offset="0.0"/>
</joint>

<!-- TCP (Tool Center Point) link 
  물체를 잡을 때 사용하는 그리퍼의 중심점에 대한 가상 좌표계이다.
  TCP link는 tool0 link에서 z축으로 0.075m 떨어진 손가락 끝에 위치하도록 설정. 
  (finger1_joint 원점: tool0 기준 z축으로 0.05, 그리퍼의 길이 0.05m, 따라서 0.05 + 0.05/2 = 0.075m)
  TCP link는 고정 링크로 설정하여, 그리퍼가 움직이더라도 TCP link는 tool0 link에 고정되도록 함.
-->
<link name="tcp_link"/>

<joint name="tcp_joint" type="fixed">
  <parent link="tool0"/>
  <child link="tcp_link"/>
  <origin xyz="0 0 0.075" rpy="0 0 0"/>
</joint>

</robot>